<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2>Nuevo Servicio</h2>
        </div>
        <div class="card-body">
          <%= render 'form', service: @service %>
        </div>
      </div>
    </div>
  </div>
</div>
